*{
  margin: 0;
  padding: 0;
  background-color: rgb(33, 33, 33);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main h1{
  display: flex;
  margin-top: 150px;
  justify-content: center;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.main p{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-weight: 500;
  color: rgb(11, 129, 241);
}
.main h3{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-weight: 500;
  color: rgb(244, 88, 161);
}
.inputdata{
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  width: 500px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: 3px solid rgb(0, 127, 136);
  background-color: rgb(220, 247, 255);
  color: rgb(0, 0, 0);
}
.button{
  display: flex;
  margin-left: 520px;
  width: 70px;
 margin-top: 20px;
  justify-content: center;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(41, 86, 176);
  color: white;
}
.noteshow ul{
color: rgb(139, 198, 251);
font-size: 15px;
margin-top: 10px;
margin-left: 300px;

}
.noteshow li{
  background-color: rgba(58, 58, 58, 0.638);
  width:auto;
}
.delete{
  background-color: rgb(7, 138, 48);
  margin-top: 4px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 5px;
} 

